{{#modal-component size="modal-lg" action=action}}
  <div class="modal-brndr-hunt">
    <div class="brndr-hunt-content row">
      <div class="brndr-hunt-img no-gutter-right col-xs-12 col-md-7">
        <img {{bind-attr src=model.imageUrl}} />
        {{#each model.huntItems as |huntItem|}}
          <a {{action "toggleHuntItem" huntItem}}
             class="brndr-hunt-itm-tltip"
             style="top: {{huntItem.top}}%; left: {{huntItem.left}}%">
            +
          </a>
        {{/each}}
      </div>
      <div class="no-gutter-left col-xs-12 col-md-5">
        <ul class="brndr-hunts-ltst-cmnts col-xs-12">
          <li class="text-center">
            Comments ({{currentHuntItem.commentsCount}})
          </li>
          {{#each currentHuntItem.comments as |comment|}}
            {{#hunt-comment comment=comment}}{{/hunt-comment}}
          {{else}}
            <li>
              <p class="text-center">
                There are no comments on this hunt... yet.<br />
                Know anything about it? Go ahead!
              </p>
            </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
{{/modal-component}}
