<div class="row">
  <nav id="dashboard-header" class="navbar navbar-default">
    <div class="col-xs-10 col-xs-offset-1">
      {{#link-to 'dashboard.index'}}
        <img src="brandr.png" class="brndr-logo col-xs-3 pull-left">
      {{/link-to}}
      <div class="navbar-right-side pull-right">
        {{#if session.isAuthenticated}}
          {{#link-to "dashboard.hunt.new" id="brndr-hnt-add"
                                          class="btn btn-default pull-left"}}
            +
          {{/link-to}}
          <div id="brndr-profile-enter" class="dropdown pull-left">
            <button class="btn btn-default dropdown-toggle" type="button"
                    id="profile-entry-menu" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="true">
              {{currentUser.fullname}}
            </button>
            <ul class="dropdown-menu" aria-labelledby="profile-entry-menu">
              <li><a {{action "invalidateSession"}}>Logout</a></li>
            </ul>
          </div>
        {{else}}
          <section id="login">
            <form {{action "authenticate" on="submit"}} class="form-inline">
              <div class="form-group">
                {{input type="email" class="form-control"
                  value=identification placeholder="Your email address"}}
              </div>
              <div class="form-group">
                {{input type="password" class="form-control"
                  value=password placeholder="Password"}}
              </div>
              <button type="submit" class="btn btn-default">Log In</button>
            </form>
          </section>
        {{/if}}
      </div>
    </div>
  </nav>
  <div class="container">
    <div class="row">
      {{#masonry-grid itemSelector=".brndr-hunt"}}
        {{#each hunts as |hunt|}}
          {{one-hunt hunt=hunt action="goToHunt"}}
        {{/each}}
      {{/masonry-grid}}
      {{outlet "modal"}}
    </div>
  </div>
</div>
